%full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.cover{
    @extend %full-width;
    background: #BDBDBD;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    padding-top: 20vh;
    min-height: 100vh;
    margin-bottom: 30px;
    .author{
        margin-right: 5px;
    }
}
.alert{
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0 !important;
}
