.language-switcher{
    position: fixed;
    width: 40px;
    cursor: pointer;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    font-size: 10px;
    box-sizing: border-box;
    border-radius: 25px;
    ul{
        display: none;
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            width: 40px;
            padding: 5px;
            margin-top: -4px;
            margin-left: -6px;
        }
    }
    &:hover{
        border: 1px solid #f8f9fa;
        background: white;
        ul{ display: block; }
    }
}