@import './single-post.scss';

.color{
    background-color: #663399;
}

.header{
    .title-site{
        font-size: 30px;
    }
}

.posts{
    padding-top: 30px;
    .posts-div{
        h3{
            font-size: 22px;
            margin: 0px;
        }
        text-align: justify;
        font-size:15px;
        margin: 0px;
    }
}

.post-div-detail{
    padding-top: 30px;
}

.thumb{
    border: 1px solid black;
    padding: 30px;
    display: inline-block;
    width: 470px;
    height: 246px;
    transform: translate(-50%,-50%);
    margin: 50vh 50vw;
    background: white;
    h1{
        text-align: left;
        margin-top: 40px;
    }
    .author{
        position: relative;
        left: 10px;
        bottom: 10px;
    }
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradienting 15s ease infinite;
}

@keyframes gradienting {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.bc_tableofcontents{
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 10px 10px 30px;
    margin: 0;
    display: inline-block;
    border-radius: 10px;
    a{ color: #BDBDBD; }
    li.level2{
        list-style: square;
    }
    li.level3, li.level4, li.level5, li.level6{ list-style: none;}
}