@import './single-post.scss';

.color{
    background-color: #663399;
}

.header{
    .title-site{
        font-size: 30px;
    }
}

.posts{
    padding-top: 30px;
    .posts-div{
        h3{
            font-size: 22px;
            margin: 0px;
        }
        text-align: justify;
        font-size:15px;
        margin: 0px;
    }
}

.post-div-detail{
    padding-top: 30px;
}

.bc_tableofcontents{
    background: rgba(0, 0, 0, 0.135);
    padding: 10px 10px 10px 20px;
    margin: 0;
    display: inline-block;
    border-radius: 10px;
    a{ color: #BDBDBD; }
    li.level2{
        list-style: decimal;
    }
    li.level3{ list-style: none;}
}