@import './single-post.scss';
@import '~@breathecode/ui-components/dist/main.css';

.color{
    background-color: #663399;
}

.header{
    .title-site{
        font-size: 30px;
    }
}

.posts{
    padding-top: 30px;
    .posts-div{
        h3{
            font-size: 22px;
            margin: 0px;
        }
        text-align: justify;
        font-size:15px;
        margin: 0px;
    }
}

.post-div-detail{
    padding-top: 30px;
}

.language-switcher{
    position: fixed;
    width: 40px;
    cursor: pointer;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    font-size: 10px;
    box-sizing: border-box;
    border-radius: 25px;
    ul{
        display: none;
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            width: 40px;
            padding: 5px;
            margin-top: -4px;
            margin-left: -6px;
        }
    }
    &:hover{
        border: 1px solid #f8f9fa;
        background: white;
        ul{ display: block; }
    }
}